.quit{
    display: none;
    /*position: relative;*/
    /*margin-left: 20px;*/
}
.logstatus{
    display:none;
}
.notlog{
    display: block;
}

.myvideo{
    /*background: lightyellow;*/
    width: 1400px;
    height:600px;
    margin-left: 60px;
    margin-top: 40px;
    margin-right: 60px;
    cursor:pointer;
}
.myvideo .mybutton{
    position:relative;
    float: top;
    background:red;
    width:100%-60px;
    height:100px;
    cursor:pointer;
}
video .mybutton{
    position:relative;
    float: top;
    background:red;
    width:100%;
    height:100px;
    cursor:pointer;
}
.fontStyle{
    color: #0bc4a8;
}

#mydiv1{
    /*background: wheat;*/
    float: right;
    margin-right: 50px;
    width: 500px;
    height: 525px;
    margin-top: -530px;
    overflow-x: hidden;
    overflow-y: scroll;
    border:1px solid #e9e9e9;
    -webkit-border-radius:3px ;
    -moz-border-radius: 3px;
    border-radius: 6px;
    cursor:pointer;
    /*box-shadow: 3px -3px 3px gray;*/
}
#mydiv2{
    /*position:absolute;*/
    /*background: grey;*/
    float: right;
    margin-top: 40px;
    margin-right: 50px;
    width: 500px;
    height: 14px;
    text-align: left;
    cursor:pointer;
    /*border:1px solid #e9e9e9;*/
    /*-webkit-border-radius:3px ;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 6px;*/
}
video{
    border-radius: 30px;
    cursor:pointer;
}
.textlist{
    width: 100%;
    /*background-color: #9C9C9C;*/
    /*margin-top: 10px;*/
    margin-top: 10px;
    margin-left: 5px;
    cursor:pointer;
}
.textbox {
    margin-left: 20px;
    cursor:pointer;
}
.en{
    font-family: Arial;
    font-size: large;
    display: block;
    cursor:pointer;
}
.cn{
    margin-top: 10px;
    display: block;
    cursor:pointer;
}
.clearfix{
    margin-top: 20px;
    margin-left: 15px;
    cursor:pointer;
}
.nt .note{
    position: relative;
    /*left: 2px;*/
    background: #00000000;
    display: none;
    cursor:pointer;
}
.nt i{
    display: block;
    cursor:pointer;
}
#box{
    position:relative;
    width:450px;
    height:10px;
    margin-top:-40px;
    margin-left: 40px;
    cursor:pointer;
}
#progress{
    background-color: #ededed;
    position:relative;
    width:450px;
    height:10px;
    /*background:#999999;*/
    border-radius:5px;
    margin:0 auto;
    cursor: pointer;
}
#progress_head{
    width:0;
    height:100%;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
    background:#0bc4a8;
    cursor:pointer;//光标
}
#span{
    position:absolute;
    width:8px;
    height:16px;
    background:white;
    top:-4px;
    left:0;
    border-radius: 5px;
    border: 1px solid #0bc4a8;
    cursor:pointer;//光标
}
#pause-play{
    margin-left: -40px;
    margin-top: -25px;
    cursor:pointer;
}
#percentage{
    /*position:absolute;*/
    /*line-height:30px;*/
    /*text-align:center;*/
    /*right:-44px;*/
    /*top:0;*/
    margin-left:380px;
    cursor:pointer;
}
#volume{
    margin-left: 550px;
    margin-top: -25px;
    cursor:pointer;
}
#volumebox{
    position: absolute;
    z-index: 2;
    border-radius: 12px;
    border: 2.5px solid #0bc4a8;
    background-color: white;
    margin-left: 500px;
    margin-top: -85px;
    width: 140px;
    height: 40px;
    display: none;
    cursor:pointer;
}
#volumeprogress{
    background-color: #ededed;
    position:relative;
    height:10px;
    width:140px;
    /*background:#999999;*/
    border-radius:5px;
    margin-top:15px ;
    cursor: pointer;
}
#volumeprogress_head{
    /*position:relative;*/
    width:30%;
    height:100%;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
    background:#0bc4a8;
    cursor:pointer;//光标
}
#volumespan{
    position:absolute;
    width:8px;
    height:16px;
    background:white;
    top:-4px;
    left:30%;
    border-radius: 5px;
    border: 1px solid #0bc4a8;
    cursor:pointer;//光标
}
/*查单词*/
#searchResult{
    width:272px;
    height:152px;
    left: 0;
    top:0;
    background-color: #FFFFFF;
    box-shadow:0px 1px 8px 0 rgba(51,51,51,0.28);
    padding:18px 20px 0 20px;
    position:absolute;
    z-index:3;
    display:none;
    box-sizing:content-box;
    cursor:pointer;
}
#searchResultButton{
    position: relative;
    float: right;
    cursor: pointer;
}
#searchword .word{
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}
#A_phonogram .phonogram{
    font-size: 14px;
    color: #999;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#E_phonogram .phonogram{
    font-size: 14px;
    color: #999;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#translate .translate{
    font-size: 14px;
    /*height:24px;*/
    height:58px;
    color: #606060;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow:ellipsis;
    /*white-space: nowrap;*/
    white-space: normal;
    /*display: block;*/

}
#translate{
    height:58px;
}
/*以下是下拉学习单词下拉列表*/
#drop-down {
    width: 92px;
    /*float: bottom;*/
    font:14px 新宋体;
    margin-left: 390px;
    margin-top: -17px;
    /*border-radius: 100px;*/
}
#drop-down>p {
    width: 100%;
    background-color: #0bc4a8;
    color: white;
    text-align: center;
}
#drop-down>ul {
    display: none;
    background-color: lightblue;
    color: white;
    list-style-type: none;
    text-align: center;
    box-shadow: 5px 5px 5px #6e6e6e;
    /*注：z-index要和position同时出现*/
    position: relative;
    z-index: 2;

}
#drop-down:hover ul {
    display: block;
}
/*一下是test*/
#mytest{
    position: relative;
    z-index: 901;
    width: 750px;
    height: 560px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: -600px;
    background: white;
    box-shadow:0 1px 8px 0 rgba(51,51,51,0.28);
}
#newbackground{
    background: rgba(0,0,0,.8);
    position: absolute;
    z-index: 900;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: -605px;*/
    bottom: 0;
    width: 100%;
    height: 693px;
    display: none;
}
/*wordtest_hide*/
.wordtest_word{
    display: block;
}
.wortest_translation{
    display: block;
}
/*以下是第三级上拉菜单*/
#drop-up {
    width: 100px;
    height: 102px;
    font:14px 新宋体;
    position: relative;
    margin-top: -60px;
    margin-left: 20px;
    /*background-color: #0000FF;*/
}
.drop-up-div {
    width: 100px; height:25px; position: absolute;  background-color: lightblue; color: white;
    border-bottom: .5px solid #000;
    z-index: 902;
    cursor: pointer;

}
.drop-up-div:hover{
    background-color:#13227A;
}
#drop-up>ul {
    width: 92px;
    display: none;
    background-color: lightblue;
    color: white;
    list-style-type: none;
    text-align: center;
    box-shadow: 5px 5px 5px #6e6e6e;
    /*注：z-index要和position同时出现*/
    /*position: absolute;*/
    /*float: bottom;*/
    /*z-index: 2;*/

}
#drop-up:hover ul {
    display: block;
}
/*按钮*/
.wordtest_btn {
    width:100px;
    text-align:center;
    line-height:100%;
    padding:0.3em;
    font:16px Arial,sans-serif bold;
    font-style:normal;
    text-decoration:none;
    /*margin:2px;*/
    vertical-align:text-bottom;
    zoom:1;
    outline:none;
    font-size-adjust:none;
    font-stretch:normal;
    /*border-radius:50px;*/
    box-shadow:0px 1px 2px rgba(0,0,0,0.2);
    text-shadow:0px 1px 1px rgba(0,0,0,0.3);
    color:#fefee9;
    /*border:0.2px solid #2299ff;*/
    border:0.2px solid #0bc4a8;
    background-repeat:repeat;
    background-size:auto;
    background-origin:padding-box;
    background-clip:padding-box;
    /*background-color:#3399ff;*/
    background-color:#0bc4a8;
    /*background: linear-gradient(to bottom, #eeeff9 0%,#3399ff 100%);*/
    background: linear-gradient(to bottom, #9FC4BF 0%,#0bc4a8 100%);
    cursor: pointer;
}

.wordtest_btn:hover {
    background: #268DFF;
}
